.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 6rem;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.containerList {
  padding: 10px;
  border: 1px solid #dedede;
}

.list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  border: 1px solid #dedede;
  padding: 20px;
  margin: 10px 0;
  cursor: pointer;
}

.textNotFound {
  display: flex;
  margin: 10px;
  padding: 20px;
  justify-content: center;
  background-color: #e4e40b;
  border-radius: 20px;
}

.image {
  border-radius: 200px;
  margin: 0 20px;
  height: 120px;
}

.text {
  font-weight: bold;
}

.details {
  padding: 10px;
  border: 1px solid #dedede;
  width: 50%;
}

.containerImage {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.info {
  display: flex;
  flex-direction: column;
}

.info span {
  padding: 5px;
}

.listEpisodes {
  margin-top: 20px;
}

.listEpisodes span {
  font-size: 22px;
  font-weight: bold;
}

.containerBtn {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.containerBtn button {
  padding: 4px;
  background-color: #0000ff;
  color: #fff;
  cursor: pointer;
}
